.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ol {
  counter-reset: item
}

li {
  display: block
}

li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

.mycontainer {
  background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.social i{
  padding: 10px;
}
.social a {
  color: white;
  text-decoration:none;
}

.social a:hover {
   color: white;
   font-weight: bold;
   font-size: 20px;
}
